In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# importing libraries  
import numpy as nm  
import matplotlib.pyplot as mtp  
import pandas as pd

In [ ]:
#importing datasets  
data_set= pd.read_csv('/content/drive/MyDrive/ML Dataset/FlatRentDataset.csv')

In [ ]:
print(data_set)

           Area  FlatSize NearbyBazar  FloorNumber  TotalBedrooms  \
0     Sadarghat      1616          No            5              3
1     Sadarghat      1580         Yes            1              3
2      Shahbagh      1450         Yes           13              3
3      Farmgate      1450          No            1              3
4      Khilgaon      1350          No            4              3
...         ...       ...         ...          ...            ...
1456  Dhanmondi      1200          No            4              3
1457   Banasree      1200         Yes            3              3
1458   Khilgaon      1050          No           15              2
1459   Shahbagh      1050         Yes            2              2
1460     Banani      1700          No            8              3

      AttachedWashrooms  TotalBalconies FloorType GarrageFacilities  \
0                     2               2     Tiles                No
1                     2               2    Mozaik                No
2                     2               2    Mozaik                No
3                     2               2    Mozaik               Yes
4                     2               2    Mozaik               Yes
...                 ...             ...       ...               ...
1456                  2               2    Mozaik                No
1457                  2               2    Mozaik               Yes
1458                  1               2     Tiles               Yes
1459                  1               2     Tiles               Yes
1460                  2               2    Mozaik                No

     LiftService GasAvailability SecurityService CCTVCoverage  \
0            Yes              No             Yes          Yes
1             No             Yes             Yes           No
2            Yes             Yes              No           No
3             No              No             Yes          Yes
4            Yes              No              No           No
...          ...             ...             ...          ...
1456          No             Yes              No          Yes
1457          No              No             Yes           No
1458         Yes              No              No          Yes
1459         Yes             Yes              No          Yes
1460         Yes             Yes              No           No

      WalkingDistanceFromMainRoad   Rent
0                              19  32000
1                              26  31000
2                              22  29000
3                              30  29000
4                              12  27000
...                           ...    ...
1456                            8  24000
1457                           23  24000
1458                            1  21000
1459                            1  21000
1460                           11  34000

[1461 rows x 15 columns]

In [ ]:
data_set.shape

(1461, 15)

In [ ]:
col_names = ['Area', 'FlatSize', 'NearbyBazar', 'FloorNumber', 'TotalBedrooms','AttachedWashrooms', 'TotalBalconies', 'FloorType','GarrageFacilities', 'LiftService', 'GasAvailability',
'SecurityService', 'CCTVCoverage', 'WalkingDistanceFromMainRoad','Rent']
data_set.columns = col_names
col_names

['Area',
 'FlatSize',
 'NearbyBazar',
 'FloorNumber',
 'TotalBedrooms',
 'AttachedWashrooms',
 'TotalBalconies',
 'FloorType',
 'GarrageFacilities',
 'LiftService',
 'GasAvailability',
 'SecurityService',
 'CCTVCoverage',
 'WalkingDistanceFromMainRoad',
 'Rent']

In [ ]:
col_names = ['Area', 'FlatSize', 'NearbyBazar', 'FloorNumber', 'TotalBedrooms','AttachedWashrooms', 'TotalBalconies', 'FloorType','GarrageFacilities', 'LiftService', 'GasAvailability',
'SecurityService', 'CCTVCoverage', 'WalkingDistanceFromMainRoad','Rent']
for col in col_names:
  print(data_set[col].value_counts())

Badda              79
Abdullahpur        75
Shahbagh           75
Banani             74
Cantonment area    73
Rampura            72
Motijheel          71
Uttara             69
Paltan             69
Mohakhali          67
Bashundhara        66
Dhanmondi          66
Khilgaon           66
Khilkhet           62
Ramna              61
Farmgate           60
Mohammadpur        60
Wari               58
Sadarghat          58
Gulshan            48
Banasree           47
Tejgaon            45
Baridhara          40
Name: Area, dtype: int64
1450    74
1616    72
1600    69
1050    68
1400    67
1500    66
1580    65
1350    65
1250    61
850     59
950     59
1100    59
1200    57
1000    56
1650    56
1150    55
1380    55
1550    54
1300    54
1700    54
900     52
1800    48
800     47
1750    45
1390    44
Name: FlatSize, dtype: int64
Yes    732
No     729
Name: NearbyBazar, dtype: int64
1     156
2     148
6     146
5     144
4     140
3     138
9      79
8      74
14     71
12     67
15     65
7      61
13     58
10     57
11     57
Name: FloorNumber, dtype: int64
3    1120
2     338
4       3
Name: TotalBedrooms, dtype: int64
2    1030
1     329
3     102
Name: AttachedWashrooms, dtype: int64
2    1260
1     121
3      80
Name: TotalBalconies, dtype: int64
Mozaik    704
Tiles     693
Cement     64
Name: FloorType, dtype: int64
Yes    744
No     717
Name: GarrageFacilities, dtype: int64
Yes    1028
No      433
Name: LiftService, dtype: int64
No     732
Yes    729
Name: GasAvailability, dtype: int64
Yes    758
No     703
Name: SecurityService, dtype: int64
No     742
Yes    719
Name: CCTVCoverage, dtype: int64
3     62
10    60
29    56
4     55
23    54
19    53
27    53
25    52
6     51
11    50
22    50
21    50
26    48
16    47
5     47
1     47
8     46
18    45
17    44
2     44
24    43
15    42
14    42
9     42
30    42
20    40
13    40
7     40
0     40
28    38
12    38
Name: WalkingDistanceFromMainRoad, dtype: int64
32000    168
28000    136
27000     95
31000     93
29000     74
21000     68
30000     66
25000     61
17000     59
22000     59
19000     59
33000     57
24000     57
20000     56
23000     55
34000     55
26000     54
18000     52
16000     47
35000     46
36000     24
45000      3
52000      3
53000      2
54000      2
60000      2
40000      2
44000      1
32500      1
5500       1
41000      1
55000      1
39000      1
Name: Rent, dtype: int64

In [ ]:
data_set['Rent'].value_counts()

32000    168
28000    136
27000     95
31000     93
29000     74
21000     68
30000     66
25000     61
17000     59
22000     59
19000     59
33000     57
24000     57
20000     56
23000     55
34000     55
26000     54
18000     52
16000     47
35000     46
36000     24
45000      3
52000      3
53000      2
54000      2
60000      2
40000      2
44000      1
32500      1
5500       1
41000      1
55000      1
39000      1
Name: Rent, dtype: int64

In [ ]:
data_set.isnull().sum()

Area                           0
FlatSize                       0
NearbyBazar                    0
FloorNumber                    0
TotalBedrooms                  0
AttachedWashrooms              0
TotalBalconies                 0
FloorType                      0
GarrageFacilities              0
LiftService                    0
GasAvailability                0
SecurityService                0
CCTVCoverage                   0
WalkingDistanceFromMainRoad    0
Rent                           0
dtype: int64

In [ ]:
x = data_set.drop(['Rent'], axis=1)
y = data_set['Rent']

In [ ]:
x

,Area,FlatSize,NearbyBazar,FloorNumber,TotalBedrooms,AttachedWashrooms,TotalBalconies,FloorType,GarrageFacilities,LiftService,GasAvailability,SecurityService,CCTVCoverage,WalkingDistanceFromMainRoad
0,Sadarghat,1616,No,5,3,2,2,Tiles,No,Yes,No,Yes,Yes,19
1,Sadarghat,1580,Yes,1,3,2,2,Mozaik,No,No,Yes,Yes,No,26
2,Shahbagh,1450,Yes,13,3,2,2,Mozaik,No,Yes,Yes,No,No,22
3,Farmgate,1450,No,1,3,2,2,Mozaik,Yes,No,No,Yes,Yes,30
4,Khilgaon,1350,No,4,3,2,2,Mozaik,Yes,Yes,No,No,No,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,Dhanmondi,1200,No,4,3,2,2,Mozaik,No,No,Yes,No,Yes,8
1457,Banasree,1200,Yes,3,3,2,2,Mozaik,Yes,No,No,Yes,No,23
1458,Khilgaon,1050,No,15,2,1,2,Tiles,Yes,Yes,No,No,Yes,1
1459,Shahbagh,1050,Yes,2,2,1,2,Tiles,Yes,Yes,Yes,No,Yes,1
1460,Banani,1700,No,8,3,2,2,Mozaik,No,Yes,Yes,No,No,11

In [ ]:
y

0       32000
1       31000
2       29000
3       29000
4       27000
        ...
1456    24000
1457    24000
1458    21000
1459    21000
1460    34000
Name: Rent, Length: 1461, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state= 0)

In [ ]:
X_train.shape, X_test.shape

((1168, 14), (293, 14))

In [ ]:
pip install --upgrade category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.5.0)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)

In [ ]:
import category_encoders as ce

In [ ]:
# Transform string value to int value

encoder = ce.OrdinalEncoder(cols= ['Area', 'NearbyBazar', 'FloorType','GarrageFacilities', 'LiftService', 'GasAvailability',
'SecurityService', 'CCTVCoverage'])

X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

In [ ]:
X_train.head()

,Area,FlatSize,NearbyBazar,FloorNumber,TotalBedrooms,AttachedWashrooms,TotalBalconies,FloorType,GarrageFacilities,LiftService,GasAvailability,SecurityService,CCTVCoverage,WalkingDistanceFromMainRoad
646,1,1380,1,6,3,2,2,1,1,1,1,1,1,21
92,2,900,2,6,2,1,2,1,2,1,1,2,2,11
818,1,1616,2,7,3,2,2,2,2,1,2,2,1,6
302,3,1150,1,5,3,2,2,1,2,1,1,1,1,21
1259,4,1050,2,1,3,1,2,1,2,2,1,2,2,2

In [ ]:
X_test.head()

,Area,FlatSize,NearbyBazar,FloorNumber,TotalBedrooms,AttachedWashrooms,TotalBalconies,FloorType,GarrageFacilities,LiftService,GasAvailability,SecurityService,CCTVCoverage,WalkingDistanceFromMainRoad
530,5,1500,2,1,3,2,2,2,2,2,1,1,1,0
657,13,1600,1,3,3,2,3,1,1,2,1,1,2,7
459,20,1550,1,10,3,2,2,1,2,1,1,1,1,26
279,10,1580,1,6,3,2,2,2,2,2,2,2,2,11
656,14,1580,1,9,3,3,2,1,1,1,2,1,1,26

In [ ]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_squared_error
import sklearn.metrics as sm

Linear Regression

In [ ]:
#Fitting the MLR model to the training set:  
from sklearn.linear_model import LinearRegression  
regressor= LinearRegression()  
regressor.fit(X_train, y_train)

LinearRegression()

In [ ]:
#Predicting the Test set result;  
y_pred= regressor.predict(X_test)  
print(y_pred)

[30302.66796917 31976.97919055 31060.7808094  31858.89071749
 31433.77507053 25967.79965139 22354.48184506 28039.40361487
 22633.86400495 26864.3907933  28188.18291574 27322.91154082
 29561.88522396 32593.78361195 27859.05777699 15998.43463826
 17721.7439518  36552.0842994  17418.76593645 23156.32819061
 26893.06494886 21427.89162997 27452.15376926 34990.04857862
 31977.35104525 27685.69619157 31306.05809762 30101.19396568
 24393.05813322 20582.46661647 32393.25160145 17777.04334338
 31948.26007318 27112.633601   33078.4881666  21035.32497374
 32915.02420769 27139.84361943 16903.00320902 29158.49251396
 20673.28333318 21426.7297964  32078.18297091 34011.71429526
 29173.79473618 35129.35236567 16708.29067736 27314.07619789
 29424.43679204 32333.62463762 20763.08521885 36672.38035097
 25843.62944868 23681.7497286  27855.16577463 30252.83903124
 26018.37428397 24865.24478342 18074.47245317 15578.98973795
 25296.33958529 22245.56729248 17603.54532986 18022.46190668
 16780.05502873 17815.79933425 16543.4728532  31821.5421306
 32821.78487611 20542.99309447 34277.74955381 25127.18764599
 29435.20916733 27716.94713953 21995.19729673 27700.49787975
 34377.85354439 32357.53514181 33930.49195563 34485.20186394
 24874.44675524 32486.90641378 26467.47878686 28067.5272739
 33461.54204944 32090.79239602 31936.62680001 26535.82760385
 23971.06508327 32962.92931302 27144.39881758 32574.69872015
 28928.92301178 31191.08509797 25572.22785806 15575.80573545
 36609.46756614 18818.24458191 27171.44690249 30218.48369941
 16963.43080998 24189.89937444 27909.84155297 21846.42720796
 24209.87491401 33444.12061001 21131.94085799 22830.69187957
 22989.51423957 34258.56129523 32128.36750681 36547.70155136
 26889.47684342 29263.52550564 29164.36824389 27458.88686075
 32696.54685496 31452.11631467 31635.09061436 34275.36939885
 35298.18926752 32570.67747124 31470.27208517 32107.63469582
 29011.70976969 23659.65864596 32202.32911882 30501.54549517
 29160.75772266 26469.93688141 23928.95746231 30362.22426423
 25122.10585532 16561.36448595 17834.95531809 22140.01587437
 30251.20854835 28974.23088131 29181.41225221 16657.9003965
 31634.00851329 16821.51902755 35505.010184   30448.94479345
 23921.78732693 25920.32106727 21531.94157015 32315.01119857
 21031.5344169  27368.58296106 30807.91696754 33362.56326403
 27339.18075362 23652.5136461  16926.42009122 18922.44771332
 17814.0947218  27887.90977862 28184.77340092 28404.82189298
 17799.66122937 31035.04512188 33454.32046063 21846.64543868
 21018.34757681 24156.32903327 31941.06246816 32330.82842829
 20139.73433505 27969.90184686 35325.06979917 18958.24179877
 17836.5411376  21913.22160155 19516.90270076 32516.93432372
 19142.22739619 16956.90516757 25038.62603508 24076.74288699
 19611.96130894 34680.19436613 20984.49245218 19340.75923578
 28285.34271195 23234.67117838 16818.10711338 32167.59225201
 27242.41255106 19782.94989245 31187.22573182 17100.93038145
 34360.4129234  32061.47596679 32475.50005673 20633.2514229
 29405.25503519 19939.16216272 15871.7152785  29031.47034154
 22313.9082607  34168.01378699 20615.73260223 35145.8985417
 22291.3969019  26174.81593544 28420.95783085 26117.0800941
 19970.5045046  31047.59080201 32679.2906939  31893.82867107
 31782.60206438 22302.63659319 16937.27312734 15696.9198792
 35998.59495465 25657.92772267 26248.95803664 36333.05826667
 28071.81060792 18933.04929768 35402.14053646 30312.6489468
 21000.16824803 27239.31419429 26328.68886489 21560.45503199
 25972.68523375 33516.57165254 36342.64147374 24194.43948094
 17103.92001652 27772.38609934 19960.88811125 21194.50398606
 17879.47653633 16568.96973552 27762.23644935 20422.89374906
 31476.89223912 27686.31889515 34541.858047   29082.45617062
 31511.6485721  32256.16383446 32779.05930093 17897.83227071
 24996.87671103 34439.87625043 28288.04472098 22612.94851566
 35741.96059088 36452.25405228 33217.21601326 34404.23376603
 20085.88899129 31047.20950485 31336.45206775 18955.11191138
 32286.94788121 24064.11904856 25117.53389685 29278.48182969
 27671.9018598  30172.12547601 34655.82060503 30025.07755605
 18851.36822328 27702.53347258 36488.35504694 23016.63191127
 34482.85809355 33286.5716814  21561.3329632  21870.43256696
 29421.90996289 36332.35399389 28050.54452448 27891.73200355
 36172.02076136 23816.87776149 27932.63602834 20923.91122757
 20428.55084565 25101.88927023 28116.48747916 26412.15165015
 22102.31650995 20231.21694747 18736.93546404 27304.68059383
 27679.5823907 ]

In [ ]:
print("mean absolute error = ",round(mean_absolute_error(y_test, y_pred),4))
print("Explain variance score =", round(sm.explained_variance_score(y_test, y_pred), 4)) 
print("R2 score =", round(sm.r2_score(y_test, y_pred), 4))
print("mean absolute percentage error = ",round(mean_absolute_percentage_error(y_test, y_pred),4))
print("mean squared error = ",round(mean_squared_error(y_test,y_pred),4))

mean absolute error =  478.3688
Explain variance score = 0.9295
R2 score = 0.9295
mean absolute percentage error =  0.0149
mean squared error =  2577281.5513

Lasso

In [ ]:
#Fitting the MLR model to the training set:  
from sklearn.linear_model import Lasso  
regressor= Lasso()  
regressor.fit(X_train, y_train)

Lasso()

In [ ]:
#Predicting the Test set result;  
y_pred_lasso= regressor.predict(X_test)  
print(y_pred_lasso)

[30296.2083786  31989.3372648  31058.3418897  31860.93748099
 31449.56315333 25975.59210668 22343.45437306 28041.92770577
 22648.1527827  26865.06708324 28196.25739078 27314.87829292
 29554.83727294 32591.51956834 27863.04182412 15993.40564731
 17733.9611878  36549.31524668 17431.516231   23155.58726327
 26897.30010056 21444.74187375 27446.80814945 34992.98775588
 31979.67804076 27685.47053304 31310.66406195 30112.78802013
 24384.03564894 20597.98931088 32397.92578844 17776.48144096
 31944.58298727 27119.47488298 33079.26387955 21037.03747803
 32908.53791135 27141.27593319 16903.14658437 29148.53416661
 20681.74235407 21403.15554509 32080.22362867 34014.88020467
 29170.04591911 35135.76513985 16715.44842135 27306.30020184
 29420.15393314 32339.95663037 20765.44047915 36665.38765076
 25862.92391675 23692.79895526 27848.20464218 30252.31804716
 26011.97519564 24872.71512096 18071.97795777 15576.26412421
 25283.54454507 22236.3037661  17611.31553451 18017.95417696
 16774.41878353 17805.50103346 16542.79653129 31820.37588281
 32810.52592053 20559.0858474  34273.96505908 25122.95523478
 29426.76113015 27720.36410901 21988.46942337 27696.54950299
 34368.51795197 32365.40055509 33932.7986273  34480.64567257
 24873.14034747 32483.0207356  26464.49115094 28063.87268483
 33456.30721228 32097.09764722 31933.82244318 26524.36758324
 23963.70125649 32956.06183514 27144.58761615 32576.94116173
 28932.00307043 31184.26204412 25582.67559836 15580.19370669
 36603.01559295 18816.63654635 27182.76811391 30212.56648271
 16955.90324012 24186.3068455  27909.87426848 21846.96313595
 24194.28244753 33443.04360158 21120.30552334 22843.71606677
 22991.7570418  34260.48475129 32120.89871339 36545.3742105
 26889.22464691 29258.78367802 29157.97771461 27439.93312788
 32688.95908086 31454.56868375 31634.09152918 34276.56004858
 35309.21699376 32575.24212874 31485.51533998 32097.43251664
 29020.87739555 23659.23675247 32206.80992433 30497.92295384
 29165.69792833 26462.93782558 23931.49980319 30359.76215131
 25116.28403643 16573.90001501 17825.9798539  22134.02812723
 30248.30895459 28977.67993748 29178.713734   16663.2989698
 31639.58930385 16818.26949895 35495.92946846 30436.80381917
 23930.52890287 25924.50258532 21553.18854728 32328.47635892
 21028.65136702 27373.77815997 30824.56137388 33358.46408103
 27334.52573748 23656.6212367  16919.96052269 18915.77459441
 17823.52162929 27887.23192157 28185.65529213 28394.63434254
 17803.42220928 31044.01828911 33451.90276584 21846.44743259
 21011.92500349 24155.80818829 31952.33669005 32321.23489562
 20125.8562612  27967.47820223 35321.31609328 18945.75454699
 17845.76684293 21912.01996355 19536.70121844 32514.36388401
 19133.43147624 16960.21694617 25039.59705186 24074.39826262
 19629.38313319 34682.90234035 20975.56366662 19356.24085312
 28280.27402867 23234.60945266 16821.6690832  32160.51272084
 27242.59149284 19794.44665317 31185.10831599 17098.83330753
 34348.96641289 32054.81780558 32476.95396167 20644.47917474
 29405.68843819 19938.59876882 15857.41097863 29030.98293132
 22334.34242061 34165.71969563 20629.30864813 35155.94530254
 22278.12023506 26170.43362329 28416.66000381 26123.16574054
 19965.23338402 31050.14742414 32683.5024696  31893.8135198
 31776.4291966  22283.46757021 16929.8112036  15685.42483754
 36009.78397254 25662.31941761 26248.41957481 36335.67645311
 28061.03187702 18927.45256173 35400.5538795  30308.70959022
 20985.96323398 27234.8289521  26323.68120754 21578.24781319
 25975.19442349 33509.67598964 36340.23531642 24192.74654817
 17094.39165752 27763.21670427 19964.83962105 21199.8041912
 17871.6818561  16578.46193847 27762.64199997 20441.4798523
 31471.85910029 27689.74227095 34540.09683375 29079.7999089
 31509.42747029 32268.2623725  32779.02682392 17891.98823359
 25000.26780937 34445.09805563 28279.21957378 22636.46167886
 35735.40124438 36450.53739451 33215.27733735 34414.08939689
 20087.68696655 31057.59868866 31332.68624019 18950.41399632
 32282.99512914 24059.57264063 25112.72517548 29279.46604936
 27667.13087604 30178.1759313  34653.46339438 30024.9022259
 18859.61604548 27702.243623   36487.96862297 23021.93939019
 34479.71166915 33287.82852904 21582.13077037 21882.33293075
 29425.34259788 36330.94886672 28054.33360626 27888.22070701
 36171.7168241  23816.04574149 27920.68902422 20919.21780855
 20438.7570507  25098.05031967 28113.95450202 26400.36662876
 22092.73700156 20255.63970192 18742.06935564 27304.53024304
 27686.14394206]

In [ ]:
print("mean absolute error = ",round(mean_absolute_error(y_test, y_pred_lasso),4))
print("Explain variance score =", round(sm.explained_variance_score(y_test, y_pred_lasso), 4)) 
print("R2 score =", round(sm.r2_score(y_test, y_pred_lasso), 4))
print("mean absolute percentage error = ",round(mean_absolute_percentage_error(y_test, y_pred_lasso),4))
print("mean squared error = ",round(mean_squared_error(y_test,y_pred_lasso),4))

mean absolute error =  475.7458
Explain variance score = 0.9296
R2 score = 0.9296
mean absolute percentage error =  0.0148
mean squared error =  2575245.92

In [ ]:
from sklearn.linear_model import Lasso
ls_reg = Lasso()
ls_reg.fit(X_train,y_train)
y_pred_lasso = ls_reg.predict(X_train)
ls_reg = ls_reg.score(X_test,y_test)
ls_reg

0.9295744705352442

Decision Tree

In [ ]:
#feature Scaling  
from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()  
X_train= st_x.fit_transform(X_train)    
X_test= st_x.transform(X_test)

In [ ]:
#Fitting Decision Tree classifier to the training set  
from sklearn.tree import DecisionTreeRegressor  
classifier= DecisionTreeRegressor(max_depth=5)  
classifier.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=5)

In [ ]:
#Predicting the test set result  
y_pred_dt= classifier.predict(X_test)  
print(y_pred_dt)

[30000.         31665.07177033 31665.07177033 31665.07177033
 31665.07177033 26000.         22000.         28000.
 23000.         27000.         28000.         27000.
 29000.         31665.07177033 28000.         16000.
 18000.         32807.69230769 18000.         23000.
 27000.         22000.         27000.         37431.03448276
 31665.07177033 27441.86046512 31665.07177033 30000.
 24000.         21000.         31665.07177033 18000.
 31665.07177033 27000.         33448.27586207 21000.
 31665.07177033 27000.         17000.         29000.
 21000.         21000.         31665.07177033 33448.27586207
 29000.         37431.03448276 17000.         27000.
 29000.         31665.07177033 21000.         32807.69230769
 26000.         24000.         28000.         30000.
 26000.         25000.         18000.         16000.
 25000.         22000.         18000.         18000.
 17000.         18000.         17000.         31665.07177033
 31665.07177033 21000.         33448.27586207 25000.
 29000.         27441.86046512 22000.         27441.86046512
 33448.27586207 31665.07177033 33448.27586207 33448.27586207
 25000.         31665.07177033 26000.         28000.
 33448.27586207 31665.07177033 31665.07177033 26000.
 24000.         31665.07177033 27000.         31665.07177033
 29000.         31665.07177033 26000.         16000.
 37431.03448276 19000.         27000.         30000.
 17000.         24000.         27441.86046512 22000.
 24000.         33448.27586207 21000.         23000.
 23000.         33448.27586207 31665.07177033 32807.69230769
 27000.         29000.         29000.         27000.
 31665.07177033 31665.07177033 31665.07177033 33448.27586207
 37431.03448276 31665.07177033 31665.07177033 31665.07177033
 29000.         24000.         31665.07177033 30000.
 29000.         26000.         24000.         30000.
 25000.         17000.         18000.         22000.
 30000.         29000.         29000.         17000.
 31665.07177033 17000.         37431.03448276 30000.
 24000.         26000.         22000.         31665.07177033
 21000.         27441.86046512 31665.07177033 33448.27586207
 27000.         24000.         17000.         19000.
 18000.         27441.86046512 28000.         28000.
 18000.         31665.07177033 33448.27586207 22000.
 21000.         24000.         31665.07177033 31665.07177033
 20000.         28000.         32807.69230769 19000.
 18000.         22000.         20000.         31665.07177033
 19000.         17000.         25000.         24000.
 20000.         33448.27586207 21000.         20000.
 28000.         23000.         17000.         31665.07177033
 27000.         20000.         31665.07177033 17000.
 33448.27586207 31665.07177033 31665.07177033 21000.
 29000.         20000.         16000.         29000.
 23000.         33448.27586207 21000.         37431.03448276
 22000.         26000.         28000.         26000.
 20000.         31665.07177033 31665.07177033 31665.07177033
 31665.07177033 22000.         17000.         16000.
 37431.03448276 26000.         26000.         37431.03448276
 28000.         19000.         37431.03448276 30000.
 21000.         27000.         26000.         22000.
 26000.         33448.27586207 37431.03448276 24000.
 17000.         27441.86046512 20000.         21000.
 18000.         17000.         28000.         21000.
 31665.07177033 27441.86046512 33448.27586207 29000.
 31665.07177033 31665.07177033 31665.07177033 18000.
 25000.         33448.27586207 28000.         23000.
 32807.69230769 37431.03448276 33448.27586207 33448.27586207
 20000.         31665.07177033 31665.07177033 19000.
 31665.07177033 24000.         25000.         29000.
 27441.86046512 30000.         33448.27586207 30000.
 19000.         27441.86046512 37431.03448276 23000.
 33448.27586207 33448.27586207 22000.         22000.
 29000.         32807.69230769 28000.         27441.86046512
 37431.03448276 24000.         27441.86046512 21000.
 21000.         25000.         28000.         26000.
 22000.         21000.         19000.         27000.
 28000.        ]

In [ ]:
print("mean absolute error = ",round(mean_absolute_error(y_test, y_pred_dt),4))
print("Explain variance score =", round(sm.explained_variance_score(y_test, y_pred_dt), 4)) 
print("R2 score =", round(sm.r2_score(y_test, y_pred_dt), 4))
print("mean absolute percentage error = ",round(mean_absolute_percentage_error(y_test, y_pred_dt),4))
print("mean squared error = ",round(mean_squared_error(y_test,y_pred_dt),4))

mean absolute error =  418.065
Explain variance score = 0.9141
R2 score = 0.9136
mean absolute percentage error =  0.0108
mean squared error =  3159873.0834

Random Forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 10, random_state = 0)
# Fitting the Random Forest Regression model to the data
rf.fit(X_train, y_train)
pre = rf.predict(X_test)

In [ ]:
#Predicting the test set result  
pre_rfc= classifier.predict(X_test)  
print(pre_rfc)

[30000.         31665.07177033 31665.07177033 31665.07177033
 31665.07177033 26000.         22000.         28000.
 23000.         27000.         28000.         27000.
 29000.         31665.07177033 28000.         16000.
 18000.         32807.69230769 18000.         23000.
 27000.         22000.         27000.         37431.03448276
 31665.07177033 27441.86046512 31665.07177033 30000.
 24000.         21000.         31665.07177033 18000.
 31665.07177033 27000.         33448.27586207 21000.
 31665.07177033 27000.         17000.         29000.
 21000.         21000.         31665.07177033 33448.27586207
 29000.         37431.03448276 17000.         27000.
 29000.         31665.07177033 21000.         32807.69230769
 26000.         24000.         28000.         30000.
 26000.         25000.         18000.         16000.
 25000.         22000.         18000.         18000.
 17000.         18000.         17000.         31665.07177033
 31665.07177033 21000.         33448.27586207 25000.
 29000.         27441.86046512 22000.         27441.86046512
 33448.27586207 31665.07177033 33448.27586207 33448.27586207
 25000.         31665.07177033 26000.         28000.
 33448.27586207 31665.07177033 31665.07177033 26000.
 24000.         31665.07177033 27000.         31665.07177033
 29000.         31665.07177033 26000.         16000.
 37431.03448276 19000.         27000.         30000.
 17000.         24000.         27441.86046512 22000.
 24000.         33448.27586207 21000.         23000.
 23000.         33448.27586207 31665.07177033 32807.69230769
 27000.         29000.         29000.         27000.
 31665.07177033 31665.07177033 31665.07177033 33448.27586207
 37431.03448276 31665.07177033 31665.07177033 31665.07177033
 29000.         24000.         31665.07177033 30000.
 29000.         26000.         24000.         30000.
 25000.         17000.         18000.         22000.
 30000.         29000.         29000.         17000.
 31665.07177033 17000.         37431.03448276 30000.
 24000.         26000.         22000.         31665.07177033
 21000.         27441.86046512 31665.07177033 33448.27586207
 27000.         24000.         17000.         19000.
 18000.         27441.86046512 28000.         28000.
 18000.         31665.07177033 33448.27586207 22000.
 21000.         24000.         31665.07177033 31665.07177033
 20000.         28000.         32807.69230769 19000.
 18000.         22000.         20000.         31665.07177033
 19000.         17000.         25000.         24000.
 20000.         33448.27586207 21000.         20000.
 28000.         23000.         17000.         31665.07177033
 27000.         20000.         31665.07177033 17000.
 33448.27586207 31665.07177033 31665.07177033 21000.
 29000.         20000.         16000.         29000.
 23000.         33448.27586207 21000.         37431.03448276
 22000.         26000.         28000.         26000.
 20000.         31665.07177033 31665.07177033 31665.07177033
 31665.07177033 22000.         17000.         16000.
 37431.03448276 26000.         26000.         37431.03448276
 28000.         19000.         37431.03448276 30000.
 21000.         27000.         26000.         22000.
 26000.         33448.27586207 37431.03448276 24000.
 17000.         27441.86046512 20000.         21000.
 18000.         17000.         28000.         21000.
 31665.07177033 27441.86046512 33448.27586207 29000.
 31665.07177033 31665.07177033 31665.07177033 18000.
 25000.         33448.27586207 28000.         23000.
 32807.69230769 37431.03448276 33448.27586207 33448.27586207
 20000.         31665.07177033 31665.07177033 19000.
 31665.07177033 24000.         25000.         29000.
 27441.86046512 30000.         33448.27586207 30000.
 19000.         27441.86046512 37431.03448276 23000.
 33448.27586207 33448.27586207 22000.         22000.
 29000.         32807.69230769 28000.         27441.86046512
 37431.03448276 24000.         27441.86046512 21000.
 21000.         25000.         28000.         26000.
 22000.         21000.         19000.         27000.
 28000.        ]

In [ ]:
print("mean absolute error = ",round(mean_absolute_error(y_test, pre),4))
print("Explain variance score =", round(sm.explained_variance_score(y_test, pre), 4)) 
print("R2 score =", round(sm.r2_score(y_test, pre), 4))
print("mean absolute percentage error = ",round(mean_absolute_percentage_error(y_test, pre),4))
print("mean squared error = ",round(mean_squared_error(y_test,pre),4))

mean absolute error =  349.6587
Explain variance score = 0.8656
R2 score = 0.8639
mean absolute percentage error =  0.0083
mean squared error =  4976356.6553

Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
# Fitting the LogisticRegression model to the data
lr.fit(X_train, y_train)
y_lr_pre = lr.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [ ]:
print("mean absolute error = ",round(mean_absolute_error(y_test, y_lr_pre),4))
print("Explain variance score =", round(sm.explained_variance_score(y_test, y_lr_pre), 4)) 
print("R2 score =", round(sm.r2_score(y_test, y_lr_pre), 4))
print("mean absolute percentage error = ",round(mean_absolute_percentage_error(y_test, y_lr_pre),4))
print("mean squared error = ",round(mean_squared_error(y_test,y_lr_pre),4))

mean absolute error =  1182.5939
Explain variance score = 0.874
R2 score = 0.8739
mean absolute percentage error =  0.0433
mean squared error =  4611774.744

In [ ]:
#from sklearn.metrics import accuracy_score
#accuracy_score(y_test, y_lr_pre)

0.3447098976109215

Gaussian Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB  
classifier = GaussianNB()  
classifier.fit(X_train, y_train)

GaussianNB()

In [ ]:
#Predicting the test set result  
y_pred_GaussianNB= classifier.predict(X_test)
print(y_pred_GaussianNB)

[30000 32000 31000 31000 31000 26000 22000 28000 23000 27000 28000 27000
 29000 32000 28000 16000 18000 36000 18000 23000 27000 22000 27000 35000
 32000 27000 31000 30000 24000 21000 32000 18000 31000 27000 33000 21000
 32000 27000 17000 29000 21000 21000 32000 34000 29000 35000 17000 27000
 29000 32000 21000 36000 26000 24000 28000 30000 26000 25000 18000 16000
 25000 22000 18000 18000 17000 18000 17000 31000 32000 21000 34000 25000
 29000 27000 22000 27000 34000 32000 34000 34000 25000 32000 26000 28000
 33000 32000 31000 26000 24000 32000 27000 32000 29000 31000 26000 16000
 36000 19000 27000 30000 17000 24000 28000 22000 24000 33000 21000 23000
 23000 34000 32000 36000 27000 29000 29000 27000 32000 31000 31000 34000
 35000 32000 31000 32000 29000 24000 32000 30000 29000 26000 24000 30000
 25000 17000 18000 22000 30000 29000 29000 17000 31000 17000 35000 30000
 24000 26000 22000 32000 21000 27000 31000 33000 27000 24000 17000 19000
 18000 28000 28000 28000 18000 31000 33000 22000 21000 24000 32000 32000
 20000 28000 35000 19000 18000 22000 20000 32000 19000 17000 25000 24000
 20000 34000 21000 20000 28000 23000 17000 32000 27000 20000 31000 17000
 34000 32000 32000 21000 29000 20000 16000 29000 23000 34000 21000 35000
 22000 26000 28000 26000 20000 31000 32000 32000 32000 22000 17000 16000
 36000 26000 26000 36000 28000 19000 35000 30000 21000 27000 26000 22000
 26000 33000 36000 24000 17000 28000 20000 21000 18000 17000 28000 21000
 31000 27000 34000 29000 31000 32000 32000 18000 25000 34000 28000 23000
 35000 36000 33000 34000 20000 31000 31000 19000 32000 24000 25000 29000
 27000 30000 34000 30000 19000 27000 52000 23000 34000 33000 22000 22000
 29000 36000 28000 28000 36000 24000 28000 21000 21000 25000 28000 26000
 22000 21000 19000 27000 28000]

In [ ]:
print("mean absolute error = ",round(mean_absolute_error(y_test, y_pred_GaussianNB),4))
print("Explain variance score =", round(sm.explained_variance_score(y_test, y_pred_GaussianNB), 4)) 
print("R2 score =", round(sm.r2_score(y_test, y_pred_GaussianNB), 4))
print("mean absolute percentage error = ",round(mean_absolute_percentage_error(y_test, y_pred_GaussianNB),4))
print("mean squared error = ",round(mean_squared_error(y_test,y_pred_GaussianNB),4))

mean absolute error =  179.1809
Explain variance score = 0.9587
R2 score = 0.9584
mean absolute percentage error =  0.0044
mean squared error =  1519624.5734

In [ ]:
from sklearn.naive_bayes import GaussianNB
gauss_nb_model = GaussianNB()
gauss_nb_model.fit(X_train,y_train)
gauss_nb_model = gauss_nb_model.score(X_test, y_test)
gauss_nb_model

0.9453924914675768